*{
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}


#main-content{
    margin: auto;
    padding: auto;
}

#top-label{
    background: rgba(122, 137, 110, 0.5);
    color: #1D321E;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 1.875em;
    text-align:center;
    width: 100%;
    
    }
    
.logo{

    position: absolute;
    left: 3%;
    top:40%;
    bottom: 50%;
    font-family: EB Garamond;
    font-style: normal;
    font-weight: 600;
    font-size: 3.5em;
    line-height: 80%;
    color: #974A16;
     }


.navbar-left{
    position: absolute;
    left:18%;
    top:60%
}
.navbar-left a{

    margin-left: 1em;
    text-decoration: none;
    padding: 0.4em;
    font-style: normal;
    font-weight: 450;
    font-size: 1.125em;
    line-height: 1.9375em;
    color: rgba(151, 74, 22, 0.8);
}

.navbar-right{
    position: absolute;
    column-gap: 10%;
    right: 3%;
    top: 60%;

}
    
    
.navbar-right a{
    color:rgba(29, 50, 30, 0.8);
    margin-right: 1em;
    text-decoration: none;
    font-size: 1.1em;
}

.navbar-right button{
    background: rgba(29, 50, 30, 0.8);
    border-radius: 20px;
    font-style: normal;
    font-weight: normal;
    margin-right: 1em;
    font-size: 1.1em;
    line-height: 1em;;
    color: #FFFFFF;
    width: 130px;
    height: 41.01px;
}

#header{
    margin: auto;
    margin-top: 3.5%;
}

.jumbotron{
    background: rgba(122, 137, 110, 0);
    align-items: center;
    padding:0;
    padding-bottom: 4%;
}     

.jumbotron h1{
    width: 65%;
    height: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 2.8em;
    line-height: 1.5em;
    color: #1D321E;
    margin: auto;
    margin-top: 8%;
    text-align: center;
   
}

.home-images{
    width: 90%; 
    height: 120%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    
}

.home-images:hover{
    opacity: 0.5;
    
}

.centerbottom1{
    position: relative;
    bottom: 12%;
    left: 5%;
    width: 90%;
    height: 12%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    color: #EAE4C8;
    background: rgba(122, 137, 110, 0.9);
    border-radius: 10px 10px 20px 20px;
    text-decoration: none;
}

.centerbottom2{
    position: relative;
    bottom: 12%;
    left: 5%;
    width: 90%;
    height: 12%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    color: #EAE4C8;
    background: rgba(122, 137, 110, 0.9);
    border-radius: 10px 10px 20px 20px;
    text-decoration: none;
}

.panel-footer {
    margin-top: 10%;
    padding-top: 4%;
    background-color: #EAE4C8;
    
}

.firstFooterComponent{
    background-color: #EAE4C8;
}

.firstFooterComponent span{
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 2em;
    display: flex;
    color: #1D321E;
    padding-left: 1%;
    display: inline;
    background-color: rgba(122, 137, 110, 0);

   
}


.firstFooterComponent button{

    width:18%;
    height: 50%;
    background: rgba(151, 74, 22, 0.2);
    border: 1.3px solid rgba(151, 74, 22, 0.3);
    box-sizing: border-box;
    border-radius: 25px;
    margin-left: 5%;

    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1.7em;
    align-items: center;
    text-align: center;
    color: #1D321E;
}  

hr{
    width: 1280px;
    height: 0px;
    border: 0.3px solid #1D321E;  
    margin: auto;
    margin-top: 5%;
}

.panel-footer hr{
    width: 1280px;
    height: 0px;
    border: none;
    border-bottom: 0.3px solid #1D321E;  
    margin: auto;
    padding-top: 5%;
    background-color: #EAE4C8;

}


.secondFooterComponent{
    padding-top: 4%;
    padding-left: 1%;
    padding-bottom: 8%;
    background-color: #EAE4C8;
    
}

.secondFooterComponent h2{
    display: block;
    width: 40%;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.2em;
    padding-bottom: 2%;
    color: rgba(151, 74, 22, 0.8);
    background-color: rgba(122, 137, 110, 0);
}

.secondFooterComponent img{
    width: 30%;
    float: right;
    position: relative;
    right: 5%;
    border-radius: 20px;
    background-color: rgba(122, 137, 110, 0);


}

.secondFooterComponent h5{
    display:block;
    width: 55%;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1.2em;
    color: #1D321E;
    padding-bottom: 5%;
    background-color: rgba(122, 137, 110, 0);
}

.secondFooterComponent div{
    display: block;
    width: 50%;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.3em;
    color: #1D321E;
    background-color: rgba(122, 137, 110, 0);
}
.secondFooterComponent ul{
    padding-top: 2%;
    display: block;
    width: 100%;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.5em;
    background-color: rgba(122, 137, 110, 0);
} 

.secondFooterComponent li{
    background-color: rgba(122, 137, 110, 0);
}

.thirdFooterComponent{
    padding-top: 4%;
    padding-left: 1%;
    padding-bottom: 4%;
    background-color: #EAE4C8;
}

.thirdFooterComponent h3{

font-style: normal;
font-weight: bold;
font-size: 2em;
line-height: 2em;
text-align: center;
color: #974A16;
padding-bottom: 2%;
background-color: rgba(122, 137, 110, 0);
}

.thirdFooterComponent h4{
font-style: normal;
font-weight: 500;
font-size: 1.6em;
color: #1D321E;
padding-bottom: 2%;
background-color: rgba(122, 137, 110, 0);


}

.thirdFooterComponent h5{
font-style: normal;
font-weight: normal;
font-size: 1.2em;
line-height: 1.7em;
text-align: center;
color: rgba(29, 50, 30, 0.7);
background-color: rgba(122, 137, 110, 0);

}

.thirdFooterComponent button{
    width:40%;
    height: 30%;
    background: rgba(151, 74, 22, 0.2);
    border: 1.3px solid rgba(151, 74, 22, 0.3);
    box-sizing: border-box;
    border-radius: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.3em;
    align-items: center;
    text-align: center;
    color: #1D321E;
    margin-top: 2%;
}


.fourthFooterComponent{
    padding-top: 4%;
    padding-left: 1%;
    padding-bottom: 10%;
    background-color: #EAE4C8;
}

.fourthFooterComponent h3{
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
    color: #974A16;
    padding-bottom: 2%;
    background-color: rgba(122, 137, 110, 0);
}

.days{
    float: left;
    text-align: left;
    padding-left: 20%;
    line-height: 1.8em;
    padding-bottom: 7%;
    background-color: rgba(122, 137, 110, 0);
}

.hours{
    float: right;
    padding-right: 20%;
    line-height: 1.8em;
    padding-bottom: 7%;
    background-color: rgba(122, 137, 110, 0);
}

.fourthFooterComponent h4{
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #1D321E;
    padding: auto;
    background-color: rgba(122, 137, 110, 0);
}

.fifthFooterComponent{
    background-color: #EAE4C8;
}

.fifthFooterComponent h3{
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
    color: #974A16;
    padding-bottom: 7%;
    background-color: rgba(122, 137, 110, 0);
}

.fifthFooterComponent h5{
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.3em;
    color: #1D321E;
    text-align: left;
    padding-left: 20%;
    background-color: rgba(122, 137, 110, 0);
}
.fifthFooterComponent .icons{
    text-align: center;
    padding-top: 8.5%;
    padding-bottom: 0;
    background-color: rgba(122, 137, 110, 0);
}
.icons img{
    width: 4%;
    height: 4%;
    padding-left:0.5%;
    padding-right:0.5%;
    background-color: rgba(122, 137, 110, 0);
}


.sixthFooterComponent{
    padding-top: 4%;
    text-align: center;
    padding-bottom: 3%;
    background-color: #EAE4C8;

}

.sixthFooterComponent h3{
    font-weight: 500;
    font-size: 2em;
    line-height: 2.2em;
    color: #1D321E;
    padding-bottom: 2%;
    background-color: rgba(122, 137, 110, 0);
}

.sixthFooterComponent input{
    background: rgba(151, 74, 22, 0.15);
    border:rgba(151, 74, 22, 0.15) ;
    border-radius: 10px;
    text-align: center;
}


.sixthFooterComponent button{
    width: 70%;
    height: 100%;
    background: #1D321E;
    border: 1px solid rgba(151, 74, 22, 0.3);
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 1.4em;
    line-height: 1.6 em;
    text-align: center;
    color: #EAE4C8;
}

.seventhFooterComponent{
    padding-top: 7%;
    padding-bottom: 0%;
    background-color: #EAE4C8;
}

.seventhFooterComponent h4{
    font-weight: bold;
    font-size: 2em;
    line-height: 1.3em;
    text-align: left;
    color: #1D321E;
    padding-bottom: 3%;
    background-color: rgba(122, 137, 110, 0);
}

.covid{
    font-size: 1.6em;
    line-height: 2em;
    text-align: left;
    color: rgba(49, 31, 164, 0.8);
    background-color: rgba(122, 137, 110, 0);
}

.seventhFooterComponent h6{
    font-size: 1.4em;
    line-height: 2em;
    text-align: left;
    color: #1D321E;
    background-color: rgba(122, 137, 110, 0);
}

.seventhFooterComponent h5{
    font-size: 1.4em;
    line-height: 1.8em;
    text-align: left;
    color: #1D321E;
    padding-left:15%;
    background-color: rgba(122, 137, 110, 0);
}

.eigthFooterComponent{
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: #EAE4C8;
}

.eigthFooterComponent h1{
    font-family: EB Garamond;
    font-style: normal;
    font-weight: 600;
    font-size: 6em;
    line-height: 80%;
    color: #974A16;
    text-align: center;
    background-color: rgba(122, 137, 110, 0);
}

.eigthFooterComponent h4{
    font-family: EB Garamond;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8em;
    line-height: 2em;
    text-align: center;
    color: #7A896E;
    background-color: rgba(122, 137, 110, 0);
}

.eigthFooterComponent a{
    font-weight: 500;
    font-size: 1.1em;
    line-height: 2em;  
    color: #7A896E;
    padding-left: 10%;
    text-decoration: none;
    background-color: rgba(122, 137, 110, 0);
}


.eigthFooterComponent #copyright{
    font-size: 1.1em;
    line-height: 1.4em;
    color: #7A896E;
    text-align: center;
    padding-top: 10%;
    background-color: rgba(122, 137, 110, 0);
}

#bottomlinks{
    padding-top: 1.5%;
    font-size: 1em;
}

#home-content{
    padding-top: 5%;
}

#dentalTitle{
    padding-top: 15%;
    padding-left: 10%;
    
}

#dentalTitle h1{
    text-align: left;
    font-weight: bold;
    font-size: 2.8em;
    line-height: 1.3em;
    color: rgba(151, 74, 22, 0.9);
    padding-bottom: 3%;
}

#dentalTitle h6{
    font-size: 1.3em;
    color: #6C675C;
    padding-bottom: 4%;

}

#dentalTitle button{
    width: 45%;
    height: 12%;
    background: #1D321E;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 1.2em;
    line-height: 1.8 em;
    text-align: center;
    color: #EAE4C8;
}

.secondHomeComponent{
    padding-top: 5%;
    padding-bottom: 3%;
}

.secondHomeComponent h2{
    font-weight: bold;
    font-size: 2.8em;
    color: rgba(151, 74, 22, 0.9);
    padding-left: 5%;
    padding-bottom: 3%;
}


.tab {
    overflow: hidden;
    padding-left: 5%;
    padding-top: 2%;

    
 }

.tabcontent{
    display: none;
}
   
.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.5em;
    line-height: 2em;
    color: #1D321E;
    padding-bottom:1.5% ;
    padding-left: 1.5%;
    padding-right: 1.5%;
    
 }
  
  
.tab button:hover {
        color:#1d321e5e; ;
 }
  
 
.tab button.active {
   /*text-decoration: underline;
   text-decoration-color: #1D321E;
   text-underline-position: under;*/
   border-bottom: 2px solid #1D321E ;
   display:inline-block;
   font-weight: bold;
}

.scrolling-wrapper {
    overflow-x: auto;
    padding-left: 2%;
    padding-right: 2%;
}

.card-block {
    height: fit-content;
    width : 100%;
    background-color: rgba(122, 137, 110, 0.15);;
    border: none;
    background-position: center;
    background-size: cover;
    transition: all 0.2s ease-in-out !important;
    border-radius: 24px;
    column-gap: normal;
    padding-left:10%;
    padding-top: 5%;
    padding-bottom: 4%;
    padding-right: 10%;
   
}

.card-block:hover {
    transform: translateY(-5px);
    box-shadow: none;
}

#reviewName{

    font-weight: normal;
    font-size: 1.2em;
    color: #1D321E;
    background-color: rgba(122, 137, 110, 0);
    padding-bottom: 3%;
}

#reviewText{
    background-color: rgba(122, 137, 110, 0);
    font-weight: 300;
    font-size: 1em;;
    color: #1D321E;
}

#star-rating{
    width: 50%;
    padding-bottom: 5%;
    padding-left: 5%;
    background-color: rgba(122, 137, 110, 0);
}

#star-rating .col{
    padding:0%;
    background-color: rgba(122, 137, 110, 0);
}

#star-rating img{
    display: inline;
    width:70%; 
    height: 70%; 
    background-color: rgba(122, 137, 110, 0);
}

.thirdHomeComponent{
    padding-bottom: 4%;
    padding-right:0% ;
}

.fifthHomeComponent{
    padding-top:8%;
    padding-bottom: 7%;
}
.fifthHomeComponent img{
    width: 100%;
    height: 60%;
    padding-bottom: 8%;
    text-align: center;
}

.fifthHomeComponent h5{
    font-weight: 600;
    font-size: 1.4em;
    line-height: 1.2em;
    color: #974A16;
    text-align: left;
    padding-left: 3%;

}

.fifthHomeComponent h6{
    font-size: 1.2em;
    line-height: 1.4em;
    color: #1D321E; 
    text-align: left;
    padding-bottom: 3%;
    padding-left: 3%;
}

.fifthHomeComponent button{
    width: 50%;
    background: #1D321E;
    border-radius: 25px;
    font-size: 1.2em;
    line-height: 1,4em;
    color: #EAE4C8;
    padding-left: 3%;
}

.sixthHomeComponent{
    background: rgba(122, 137, 110, 0.2);
    padding-right: 0%;
}

.tabeo{
    text-align: center;
    padding-top: 5%;
    background: rgba(78, 97, 62, 0);
    font-family: EB Garamond;
    font-weight: 600;
    font-size: 2em;
    color: #974A16;
    padding-bottom: 6%;
}

.tabeo h4{
    background: rgba(78, 97, 62, 0);
    padding-top: 2%;
    font-weight: 500;
    font-size: 1.1em;
}

.tabeo b{
    background: rgba(78, 97, 62, 0);
}

.sixthHomeComponent h1{
    background: rgba(78, 97, 62, 0);
    color: #1D321E;
    font-size: 3.5em;
    padding-bottom: 2%;
}

.sixthHomeComponent h6{
    background: rgba(78, 97, 62, 0);
    color: #7A896E;
}

.tabeoText{
    color: #1D321E;
    text-align: center;
    background: rgba(78, 97, 62, 0);
    font-weight: 300;
    padding-bottom: 5%;
}

.seventhHomeComponent{
    padding-bottom: 7%;
}

.seventhHomeComponent h3{
    padding-top:3% ;
    padding-left: 6%;
    padding-bottom: 3%;
    font-weight: bold;
    font-size: 2.1em;
    color: rgba(151, 74, 22, 0.9);
}

.seventhHomeComponent h5{
    background:rgba(151, 74, 22, 0);
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 2%;
    font-weight: 600;
    font-size: 1.8em;
    color: #974A16;
}

.seventhHomeComponent h6{
    background:rgba(151, 74, 22, 0);
    padding-left: 10%;
    font-size: 1.2em;
    line-height: 1.8em;
    color: #1D321E;
}

.seventhHomeComponent b{
    background:rgba(151, 74, 22, 0);
}

.eighthHomeComponent img{
    border: 0.2px solid rgba(0, 0, 0, 0.198);
    box-sizing: border-box;
    border-radius: 40%;
}

#teamCards h3{
    color: #7A896E;
    font-size: 1.6em;
    padding-left: 18%;
}

#teamCards hr{
    width: 70%;
    border: 0.05px solid #1d321eb0;  
    margin: auto;
    margin-top: 1%;
    margin-bottom: 4%;
}

#teamCards h4{
    color: #1D321E;
    font-size: 1em;
    padding-left: 18%;
    padding-bottom: 2%;
    line-height: 1.4em;
}


#teamCards h5{
    color: rgba(122, 137, 110, 0.8);
    font-weight: bold;
    font-size: 0.8em;
    padding-left: 18%;

}

#teamCards a{
    font-size: 1.1em;
    padding-left: 18%;

}

.eighthHomeComponent{
    padding-bottom: 3%;
}

.ninthHomeComponent{

    padding-top: 5%;
}

.ninthHomeComponent h2{
    font-weight: bold;
    font-size: 2.2em;
    color: rgba(151, 74, 22, 0.9);
    padding-bottom: 8%;
    padding-left: 2%;
}

.ninthHomeComponent h4{
    font-size: 1.4em;
    line-height: 1.5em;
    color: #1D321E;
    padding-left: 3%;
}

.tenthHomeComponent{
    padding-top: 5%;
    width: 90%;
    margin: auto;
}

.tenthHomeComponent h2{
    font-weight: bold;
    font-size: 2.2em;
    color: rgba(151, 74, 22, 0.9);
    padding-bottom: 2%;
    padding-left: 2%;
}

.tenthHomeComponent h4{
    font-size: 1.4em;
    line-height: 1.5em;
    color: #1D321E;
    padding-left: 2%;
}

#ourTeam-content .title{
    padding-top: 7%;
    padding-left: 3.5%;
    padding-bottom: 5%;
    font-weight: bold;
    font-size: 2.1em;
    color: rgba(151, 74, 22, 0.9);
}

#ourTeam-content img{
    border: 0.2px solid rgba(0, 0, 0, 0.198);
    box-sizing: border-box;
    border-radius: 40%;
}

.firstProfileComponent{
    padding-top: 5%;
}

.firstProfileComponent h1{
    font-weight: 500;
    font-size: 3em;
    color: #1D321E;
    padding-left: 5%;
    padding-top: 8%;
    background:rgba(151, 74, 22, 0);
}

.firstProfileComponent h3{
    font-weight: normal;
    font-size: 1.5em;
    color: rgba(151, 74, 22, 0.9);
    background:rgba(151, 74, 22, 0);
    padding-left: 5%;
    padding-top: 4%;
    padding-bottom: 2%;
}

.firstProfileComponent h5{
    background:rgba(151, 74, 22, 0);
    padding-top: 4%;
    padding-left: 5%;
    padding-bottom: 2%;
    font-weight: bold;
    font-size: 1em;
    color: rgba(122, 137, 110, 0.8);
}

.firstProfileComponent h4{
    background:rgba(151, 74, 22, 0);
    padding-left: 5%;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #1D321E;
}

.firstProfileComponent hr{
    width: 70%;
    border: 0.05px solid #1d321ea1;
    text-align: left;
    margin-left: 5%;
}

.firstProfileComponent b{
    background:rgba(151, 74, 22, 0);
    font-weight: lighter;
}


.secondProfileComponent h5{
    padding-top: 5%;
    padding-left: 5%;
    font-size: 1.2em;
    line-height: 1.8em;
    color: #1D321E;
    text-align: justify;
}

.secondProfileComponent button{
    margin-top: 7%;
    width: 50%;
    height: 10%;
    background: rgba(151, 74, 22, 0.2);
    border: 1.3px solid rgba(151, 74, 22, 0.3);
    box-sizing: border-box;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    color: #1D321E;
}

.secondProfileComponent .icons{
    text-align: center;
    padding-top: 4%;
    padding-bottom: 0;
    background-color: rgba(122, 137, 110, 0);
}

.secondProfileComponent{
    padding-bottom: 4%;
}


.fourthProfileComponent h2{
    font-weight: bold;
    font-size: 2em;
    color: #974A16;
    text-align: center;
    padding-bottom: 3%;
}

#blogCards{
    border-radius: 32px;
    width: 90%; 
    margin:auto;
    position: relative;
   bottom: 17%;
    text-align: left;
}

#card-title{
    position: relative;
    bottom: 17%;
    left:10%;
    background-color: rgba(122, 137, 110, 0);
    font-weight: 500;
    font-size: 1.4em;
    display: flex;
    text-align: left;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 80%;
}


#card-image{
    border-radius: 32px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    width:90%;
    z-index:-1;
    
}


#blog-content h2{
    padding-top: 7%;
    padding-bottom: 5%;
    text-align: center;
    font-weight: bold;
    color: #974A16;
    font-size: 3em;
}


.card-body{
    border-radius: 32px;
}

.card .card-text{
    padding-top: 2%;
}

.card p{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.3em;
    color: rgba(29, 50, 30, 0.7);
}
.card-text a{
    background: none;
    border: none;
    font-size: 1em;
    color: #974A16;
   
}

.card-text a:hover{
    background: none;
    color: #974a1670;
}

.card hr{
    width: 100%;
    border: 1px solid #E6E4E4;
    margin-top: 2%;
    margin-bottom: 2%;
}

.card span{
    color: #AAA8A8;
    font-size: 0.8em;
}

.fifthProfileComponent{
    padding-top: 4%;
    padding-left: 5%;
    padding-bottom: 8%;
    background: rgba(122, 137, 110, 0.2);
    height: 90%;
    margin-bottom: 8%;
    
}

.fifthProfileComponent h2{
    display: block;
    width: 40%;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.2em;
    padding-bottom: 2%;
    color: rgba(151, 74, 22, 0.8);
    background-color: rgba(122, 137, 110, 0);
}

.fifthProfileComponent img{
    width: 26%;
    float: right;
    position: relative;
    right: 5%;
    border-radius: 20px;
    background-color: rgba(122, 137, 110, 0);


}

.fifthProfileComponent h5{
    display:block;
    width: 55%;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1.2em;
    color: #1D321E;
    padding-bottom: 5%;
    background-color: rgba(122, 137, 110, 0);
}

.fifthProfileComponent div{
    display: block;
    width: 50%;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.3em;
    color: #1D321E;
    background-color: rgba(122, 137, 110, 0);
}
.fifthProfileComponent ul{
    padding-top: 2%;
    display: block;
    width: 100%;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.5em;
    background-color: rgba(122, 137, 110, 0);
} 

.fifthProfileComponent li{
    background-color: rgba(122, 137, 110, 0);
}

.sixthProfileComponent{
    padding-bottom: 45%;
}
.sixthProfileComponent img{
    float: left;
    width: 40%;
    padding-left: 13%;
}

.sixthProfileComponent #testimonials{
    float: right;
}

#testimonials h2{
    padding-top: 15%;
    font-weight: bold;
    font-size: 2.2em;
    line-height: 1.5em;
    color: #974A16;
    padding-left: 3%;
}

#testimonials h4{
    padding-top: 3%;
    padding-bottom: 3%;
    width: 60%;
    color: #1D321E;
    font-size: 1.4em;
    padding-left: 3%;
}

#testimonials button{
    margin-left: 3%;
    width: 50%;
    height: 60%;
    background: rgba(151, 74, 22, 0.2);
    border: 1.3px solid rgba(151, 74, 22, 0.3);
    box-sizing: border-box;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    color: #1D321E;
    line-height: 3em;
}


#logos img{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4%;
}

#fees-content h1{
    padding-top: 8%;
    padding-left: 5%;
    padding-bottom: 3%;
    font-weight: bold;
    font-size: 3.1em;
    color: #974A16;
}

.feesComponent h5{
    padding-left: 15%;
    padding-bottom: 2%;
    font-weight: bold;
    font-size: 1.6em;
    color: #1D321E;
    
}

.feesComponent p{
    padding-left: 15%;
    width: 80%;
    font-size: 1.1em;
    line-height: 1.6em;
    color: #7A896E;
    text-align: justify;
}

.feesComponent a{
    padding-left: 15%;

}

.feesComponent h6{
    display: inline;
    font-size: 1.1em;
    line-height: 2em;
    color: #1D321E;

}

.feesComponent span{
    font-size: 1.1em;
    line-height: 2em;
    color: #7A896E;
}

.feesBlog h2{
    font-weight: 600;
    font-size: 2.5em;
    margin: auto;
    color: #974A16;
    text-align: center;
    padding-bottom: 4%;
}

.facialFees h5{
    padding-left: 7%;
    font-weight: bold;
    font-size: 2em;
    color: #1D321E;
}

.facialFees p{
    padding-left: 7%;
    width: 80%;
    font-size: 1.1em;
    line-height: 1.6em;
    color: #7A896E;
    text-align: justify;
    padding-bottom: 4%;
}


.img-gradient{
    position:relative;
    display:inline-block;
    left: 5%;
  }
  
.img-gradient:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:90%; height:90%;
    display:inline-block;
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); /* IE10+ */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }
.img-gradient img{
    display:block;
  }


.blogDetail-title{
   text-align: center;
   padding-bottom: 5%;
}

.blogDetail-title h1{
    text-align: center;
    color:#974A16;
    font-weight: bold;
 }

.blogDetail-content .date{
    padding-left:6%;
}

#top-blog-content h6{
    color: rgba(29, 50, 30, 0.7);
    font-size: 1.2em;
    padding-bottom: 1%;
}

#top-blog-content p{
    color: #1D321E;
    font-size: 1.1em;
    padding-bottom: 3%;
    text-align: justify;
}

#middle-blog-content h3{
    color: rgba(151, 74, 22, 0.8);
    padding-bottom: 1%;
}

#middle-blog-content p{
    color: #1D321E;
    font-size: 1.1em;
    padding-bottom: 5%;
    text-align: justify;
}


#careers-content .top{
    padding-top: 6%;
    padding-bottom: 5%;
    height: 1000px;
}

#careers-content .top h1{
    color: #1D321E;
    font-weight: bold;
    font-size: 3em;
    padding-left: 2%;
}
#career-top-image{
    float: right;
    padding-top: 5%;
    width: 70%;
    z-index: 3;
   
}


#careers-content .top .rectangle{
    position: relative;
    width: 1300px;
    height: 550px;  
    background: rgba(122, 137, 110, 0.2);
    left: 3%;
    top: 23%;
    
    
}

#careers-content .top .outer-rectangle{
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 250px;
    width: 400px;
    left:10%;
    bottom: 48%;
    
}

#careers-content .top .outer-rectangle h3{
    font-size: 2.2em;
    color: #1D321E;
    padding-top: 8%;
    padding-left: 8%;
    font-weight: bold;
}


#careers-content .top .outer-rectangle button{
    background: #1D321E;
    border-radius: 16px;
    color: #EAE4C8;
    width:40%;
    line-height: 2.5em;
    margin-left: 30%;
    margin-top: 10%;
}

#CareerTitles{
    color: rgba(151, 74, 22, 0.5);
    font-size: 1.2em;
    padding-bottom: 1%;
}

#secondCareerComponent h3{
    color: #1D321E;
    font-size: 1.6em;
    padding-bottom: 2%;
    font-weight: bold;
}

#secondCareerComponent p{
    color: #1D321E;
    font-size: 1.1em;
    line-height: 1.6em;
    padding-bottom: 1%;
    text-align: justify;
}

#thirdCareerComponent h2{
    color: #1D321E;
    font-size: 2em;
    padding-bottom: 2%;
    font-weight: bold;
    width: 30%;
}

#thirdCareerComponent .tab{
    padding: 0%;
}

#thirdCareerComponent .tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.4em;
    line-height: 1.6em;
    color: #7A896E;
    padding-bottom:1.5% ;
    padding-left: 0%;
    padding-right: 0%;
    width: 24%;
    text-align: center;
    
 }

#thirdCareerComponent .arrows button:focus{
    outline: 0;
}
 #thirdCareerComponent .tab button:hover {
    color:#0000004d;
}


#thirdCareerComponent .tab button.active {
color: #1d321ed7;
display:inline-block;
font-weight: bold;
}

#thirdCareerComponent  .tabcontent{
    color: #1D321E;
    font-size: 1.4em;
    width: 70%;
    font-weight: lighter;
}


#thirdCareerComponent .arrows button{
    border: none;
    margin: 0%;
    color: #1D321E;
    font-size: 8em;
    width: 10%;
}

#fourthCareerComponent h3{
    color: #1D321E;
    font-size: 1.6em;
    padding-bottom: 2%;
    font-weight: bold;
}

#fourthCareerComponent p{
    color: #1D321E;
    font-size: 1.1em;
    line-height: 1.6em;
    padding-bottom: 1%;
    text-align: justify;
}

#fourthCareerComponent h4{
    color: #7A896E;
    font-size: 1.1em;
    padding-top: 2%;
}

#fifthCareerComponent h5{
    width:100%;
    text-align: right;
    padding-right: 1%;
}

#sixthCareerComponent h6{
    font-size: 1.4em;
    width: 50%;
    text-transform: capitalize;
    color: #1D321E;
    padding-bottom: 3%;
}
#sixthCareerComponent hr{
    width: 100%;
    border: 0.3px solid rgba(0, 0, 0, 0.459);  
    margin: auto;
}

#sixthCareerComponent a{
    text-decoration: none;
    color: #1D321E;
    font-size: 1.3em;
}

#sixthCareerComponent #Jobs{
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 2%;
}

#sixthCareerComponent #JobArrow{
    float: right;
    padding-right: 4%;
}

#careersDescription-content h1{
    font-weight: bold;
    font-size: 3em;
    color: #974A16;
    padding-top: 8%;
    padding-bottom: 5%;

}

#careersDescription-content a{
    text-decoration: none;
    font-size: 1.4em;
    padding-left: 1%;
    padding-right: 10%;
    color: #1D321E;
}

#careersDescription-content hr{
    border-color: #1d321e86;
    margin:0;
}

#careersDescription-content p{
    padding-top: 1%;
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: justify;
    color: rgba(29, 50, 30, 0.9);
    padding-bottom:4%;
}
#careersDescription-content h3{
    color: rgba(151, 74, 22, 0.8);
    font-weight: bold;
    font-size: 1.4em;

}
#careersDescription-content ul{
    padding-top: 1%;
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: justify;
    color: rgba(29, 50, 30, 0.9);
    padding-bottom:4%;
}

#careersDescription-content button{
    background: #1D321E;
    border-radius: 25px;
    width: 20%;
    font-weight:normal;
    font-size: 1.6em;
    line-height: 2em;
    color: #EAE4C8;
    margin: auto;
}

#careersApplication-content h1{
    font-weight: bold;
    font-size: 3em;
    color: #974A16;
    padding-top: 8%;
    padding-bottom: 5%;

}

#careersApplication-content a{
    text-decoration: none;
    font-size: 1.4em;
    padding-left: 1%;
    padding-right: 10%;
    color: #1D321E;
}

#careersApplication-content hr{
    border-color: #1d321e86;
    margin:0;
}

#careersApplication-content label{
    color: rgba(29, 50, 30, 0.8);
    font-size: 1.4em;
}

#careersApplication-content input[type=text], select, textarea {
    width: 50%; 
    border: none;
    padding: 1%; 
    border-radius: 10px; 
    box-sizing: border-box; 
    margin-top: 1%; 
    margin-bottom: 6%; 
    background: rgba(151, 74, 22, 0.15);
    resize: vertical; 
    text-align: center;
    
  }
  
#careersApplication-content  input[type=submit] {
    width: 25%;
    background-color: #1D321E;
    color: #EAE4C8;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    font-size: 1.3em;
  }
  
 
#careersApplication-content input[type=submit]:hover {
    background-color: #041d05;
  }


#careersApplication-content #upload{
    color: #1C41C1;
    font-size: 1.2em;
    padding-left: 0%;
  }

  #careersApplication-content #uploadedFile{
      font-size: 1.3em ;
  }

#polices-content h1{
    font-size: 3em;
    color: #1D321E;
    padding-top: 8%;
    font-weight: bold;
    padding-bottom: 3%;

}

#polices-content p{
    color: #1D321E;
    font-size: 1.2em;
    padding-bottom: 3%;
  }

#polices-content h4{
    color: #974A16;
    font-weight:bold;
    padding-bottom: 1%;
}

#polices-content ul{
    color: #1D321E;
    font-size: 1.2em;
    padding-bottom: 3%;
    line-height: 2em;
}

#polices-content ol{
    color: #1D321E;
    font-size: 1.2em;
    padding-bottom: 3%;
    line-height: 2em;
}

#covid19-content h1{
    padding-top: 5%;
    padding-left: 4%;
    color: #974A16;
    font-weight: bold;
    padding-bottom: 4%;
}

#firstCovidCompenent hr{
    width: 70%;
    height: 0px;
    border: 0.2px solid rgba(0, 0, 0, 0.363);  
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 3%;
}

#firstCovidCompenent h5{
    color: #1D321E;
    font-weight: bold;
    font-size: 1.6em;
    padding-left: 5%;
}

#firstCovidCompenent h6{
    color: #1D321E;
    font-weight: 300;
    font-size: 1.4em;
    padding-left: 5%;
    text-align: justify;
    width: 80%;
}

#covidCompenent h2{
    padding-left: 2%;
    color: #974A16;
    font-size: 2.2em;
    padding-bottom: 1%;
}

#covidCompenent h3{
    font-weight: lighter;
    padding-left: 2%;
    color: #974A16;
    font-size: 1.6em;
    padding-bottom: 3%;
    width: 70%;
}

#covidCompenent hr{
    width: 90%;
    height: 0px;
    border: 0.2px solid rgba(0, 0, 0, 0.363);  
    margin-top: 4%;
    margin-left: 5%;
    margin-bottom: 5%;
}

#covidCompenent h5{
    color: #1D321E;
    font-weight: bold;
    font-size: 1.6em;
    padding-left: 5%;
}

#covidCompenent h6{
    color: #1D321E;
    font-weight: 300;
    font-size: 1.4em;
    padding-left: 5%;
    text-align: justify;
    width: 80%;
}

#covidCompenent span{
    color: #1d321ec9;
    font-size: 1.4em;
    text-align: justify;
    width: 55%;
    float: right;
    padding-top:1% ;
    padding-right: 2%;
}

#contactUs-content #topComponent{
    margin-top: 5%;
    background: rgba(234, 228, 200, 0.7);
    padding-bottom: 4%;
    margin-bottom: 5%;
}
#topComponent h1{
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    color: #974A16;
    padding-top: 4%;
    padding-bottom:8%;
    background: rgba(234, 228, 200, 0);
}

#topComponent #contact-usImages{
    background-color: #1D321E;
    border-radius: 50%;
    
}

#topComponent h3{
    color: #1D321E;
    padding-top:6% ;
    font-weight: bold;
    padding-bottom: 8%;
    background: rgba(234, 228, 200, 0);
}

#topComponent h4{
    color: #1D321E;
    font-size: 1.4em;
    background: rgba(234, 228, 200, 0);
}

#topComponent #locationBottom{
    font-weight: lighter;
    padding-top: 2%;
    background: rgba(234, 228, 200, 0);
}

#contactUs-content h2{
    font-weight: bold;
    font-size: 2.2em;
    color: #974A16;
    padding-bottom: 6%;
}

#contactUs-content p{
    color: #1D321E;
    font-size: 1.2em;
    line-height: 1.6em;
}


#contactUs-content label{
    color: rgba(29, 50, 30, 0.8);
    font-size: 1.1em;
}

#contactUs-content input[type=text], select, textarea {
    width: 70%; 
    border: none;
    padding: 1%; 
    border-radius: 10px; 
    box-sizing: border-box; 
    margin-top: 1%; 
    margin-bottom: 6%; 
    background: rgba(151, 74, 22, 0.15);
    resize: vertical; 
    text-align: center;
    
  }
  
#contactUs-content  input[type=submit] {
    width: 40%;
    background-color: #1D321E;
    color: #EAE4C8;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
  }
  
 
#contactUs-content input[type=submit]:hover {
    background-color: #041d05;
  }

#press-content h1{
    color: #1D321E;
    text-align: center;
    padding-top: 5%;
    font-size: 2.6em;
    font-weight: bold;
}

#press-content #pressimages{
    padding-left: 3%;
}

#press-content #pageTop{
    padding-top: 2%;
    font-size: 1.4em;
    line-height: 1.8em;
    color: rgba(29, 50, 30, 0.7);
    width: 80%;
    margin: auto;


}

#firstPressComponent h5{
    display: block;
    font-size: 1.6em;
    color: #1D321E;

}

#firstPressComponent h6{
    color: rgba(151, 74, 22, 0.7);
    font-size: 1em;
}

#secondPressComponent h2{

    color: #1D321E;
    text-align: center;
    padding-top: 3%;
    font-size: 2.4em;
    font-weight: bold;
    padding-bottom: 3%;
}

#secondPressComponent span{
    display: block;
    color: rgba(151, 74, 22, 0.9);
    font-size: 1.6em;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 3%;

}

#secondPressComponent a{
    font-size: 1.4em;
    padding-left: 3%;
    line-height: 2.8em;
    text-decoration: underline;
}

#thirdPressComponent h3{
    color: #974A16;
    font-size: 1.7em;
    font-weight: bold;
}

#thirdPressComponent p{
    color: #1D321E;
    font-size: 1.2em;
    width: 80%;
    padding-top: 2%;
    padding-bottom: 5%;
}


#thirdPressComponent button{
    border-radius: 25px;
    width: 40%;
    background: #1D321E;
    color: #EAE4C8;
    font-size: 1em;
    line-height: 2.6em;
}

#thirdPressComponent h2{
    color: #974A16;
    font-size: 2.3em;
    font-weight: bold;
    text-align: center;
    padding-top: 10%;
}

#media-content #pageTop{
    padding-top: 2%;
    font-size: 1.4em;
    line-height: 1.8em;
    color: rgba(29, 50, 30, 0.7);
    width: 80%;
    margin: auto;


}

#media-content h1{
    color: #1D321E;
    text-align: center;
    padding-top: 5%;
    font-size: 2.6em;
    font-weight: bold;
}

#firstMediaComponent h1{
    font-family: EB Garamond;
    font-style: normal;
    font-weight: 600;
    font-size: 6em;
    line-height: 80%;
    color: #974A16;
    text-align: left;
    background-color: rgba(122, 137, 110, 0);
    padding-left: 15%;
    padding-top: 5%;
}

#firstMediaComponent h4{
    font-family: EB Garamond;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8em;
    line-height: 2em;
    color: #7A896E;
    background-color: rgba(122, 137, 110, 0);
    padding-bottom: 3%;
    text-align: left;
    padding-left: 10%;
}

#firstMediaComponent h5{
    padding-left: 10%;
    padding-bottom: 1%;
    font-weight: bold;
    font-size: 1.4em;
    color: #1D321E;
    width: 60%;
    text-align: left;
}

#firstMediaComponent a{
    text-decoration: underline;
    font-size: 1.2em;
    text-align: left;
    padding-left: 10%;
}

#secondMediaComponent h3{
    color: #974A16;
    font-size: 1.7em;
    font-weight: bold;
}

#secondMediaComponent p{
    color: #1D321E;
    font-size: 1.2em;
    width: 60%;
    padding-top: 2%;
    padding-bottom: 5%;
    margin: auto;
}


#secondMediaComponent button{
    border-radius: 25px;
    width: 30%;
    background: #1D321E;
    color: #EAE4C8;
    font-size: 1em;
    line-height: 2.6em;
}

#faq-content h1{
    align-items: center;
    text-align: center;
    color: #974A16;
    font-size: 3em;
    padding-top: 8%;
    padding-bottom: 5%;
}

#faq-content h3{
    color: rgba(151, 74, 22, 0.7);
    font-size: 2.2em;
    padding-bottom: 2%;
}

#faq-content .accordion {
    background: rgba(122, 137, 110, 0.3);
    color: #1D321E;
    cursor: pointer;
    padding: 1.5%;
    width: 100%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    text-align: left;
    border: 1px solid #7A896E;
    box-sizing: border-box;
    outline: none;
    transition: 0.4s;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 15px;
  }
  
#faq-content .active, .accordion:hover {
    background-color: rgba(122, 137, 110, 0.4);
    border-bottom: none;
    margin-bottom: 0%;
    border-radius: 15px 15px 0px 0px;
    padding-bottom: 0%;
  }


#faq-content  .panel {
    background: rgba(122, 137, 110, 0.4);
    display: none;
    overflow: hidden;
    border: 1px solid #7A896E;
    border-top:none ;
    border-radius: 0px 0px 15px 15px;
    padding: 1.5%;
    
  }

#faq-content p{
    background: rgba(122, 137, 110, 0);
  }

#gallery-content h1{
    text-align: center;
    color: #974A16;
    font-size: 3em;
    font-weight: 500;

}

#gallery-content h2{
    text-align: center;
    color: rgba(151, 74, 22, 0.9);
    font-size: 2.8em;
    font-weight: 500;
    padding-bottom: 7%;

}

#gallery-content h6{
    color: #1D321E;
    font-weight: bold;
    font-size: 1.8em;
    padding-bottom: 3%;
    padding-left: 5%;
}

#gallery-content p{
    color: rgba(29, 50, 30, 0.7);
    font-size: 1.4em;
    width: 41%;
    padding-left: 5%;
}

#gallery-content img{
    padding-right: 3%;
}
#gallery-content hr{
    border: 1px solid #1d321e7a;
}

#shop-content .hero-image {
    position: relative;
    padding-bottom: 7%;
}
  

#shop-content .hero-text {
    background: rgba(122, 137, 110, 0);
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1D321E;
}

#shop-content .hero-text p{
    font-weight: bolder;  
    font-size: 2.6em;
    text-align: center;
    color: #1D321E;
}

#shop-content .hero-text button{
    margin-top: 2%;
    background: #1D321E;
    border-radius: 30px;
    width: 40%;
    color: #EAE4C8;
    font-size: 1.6em;
    line-height: 2.4em;
}

#shop-content #firstShopComponent img{
    border: 1px solid #0000008c;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
}
.shopoverlay{
    position: absolute;
    top: 83%;
    left: 8.5%;
    width: 83%;
    background: rgba(122, 137, 110, 0.9);
    border-radius: 10px 10px 20px 20px;
    font-size: 1.8em;
    line-height: 2.6em;
    color: #974A16;
    display: none;
   
}


#shopImage1:hover  + .shopoverlay{
    display: block;
}

#shopImage2:hover  + .shopoverlay{
    display: block;
}

#secondShopComponent h2{
    text-align: center;
    font-weight: bold;
    font-size: 2.4em;
    color: #1D321E;
    padding-bottom: 4%;
}

#secondShopComponent h5{
    font-size: 1.4em;
    color: #1D321E;
    padding-top: 6%;
}

#secondShopComponent span{
    color: rgba(29, 50, 30, 0.6);
    display: block;
    font-size: 1.6em;
    padding-bottom: 6%;
}

#secondShopComponent .addtocard{
    width: 55%;
    background: #974A16;
    border-radius: 40px;
    line-height: 2.4em;
    color: #EAE4C8;
    font-size: 1.1em;

}

#secondShopComponent .toprated-nav{
    display: inline; 
    float: left;
    margin-top: 15%;
    border: none;
}
#secondShopComponent .toprated-nav:focus{
    outline: none;
}

#shopProducts-content h2{
    font-weight: bold;
    font-size: 2.4em;
    color: #1D321E;
    padding-left: 5%;
    padding-bottom: 1%;
}

#shopProducts-content p{
    font-size: 1.2em;
    text-align: justify;
    color: #7A896E;
    padding-left: 5%;
    width: 75%;
}

#shopProducts-content h5{
    font-size: 1.4em;
    color: #1D321E;
    padding-top: 6%;
}

#shopProducts-content span{
    color: rgba(29, 50, 30, 0.6);
    display: block;
    font-size: 1.6em;
    padding-bottom: 4%;
}

#shopProducts-content button{
    width: 55%;
    background: #974A16;
    border-radius: 40px;
    line-height: 2.4em;
    color: #EAE4C8;
    font-size: 1.1em;

}

#shopProducts-content   #star-rating{
    width: 45%;
    margin: auto;
    padding-left: 0%;
}

#shopProducts-content #star-rating img{
    height: 100%; 
}

#shopProducts-content #star-rating h6{
    color: #7A896E;
    padding-left: 2%;
    margin-bottom: 0%;
    padding-top: 2%;
    
}

.productoverview{
    position: absolute;
    top: 56%;
    left: 8%;
    width: 84%;
    background: rgba(122, 137, 110, 0.9);
    border-radius: 10px 10px 20px 20px;
    font-size: 1.6em;
    line-height: 2.4em;
    color: #974A16;
    display: none;
}

#shopProductImage img{
    border-radius: 20px;
}

#shopProductImage:hover  + .productoverview{
    display: block;
}


.productoverviewsmall{
    position: absolute;
    top: 54%;
    left: 8.6%;
    width: 83%;
    background: rgba(122, 137, 110, 0.9);
    border-radius: 10px 10px 20px 20px;
    font-size: 1.6em;
    line-height: 2.2em;
    color: #974A16;
    display: none;
}

#shopProductImagesmall img{
    border-radius: 20px;
    
}


#shopProductImagesmall:hover  + .productoverviewsmall{
    display: block;
}

#firstProductDetailComponent h3{
    padding-top: 18%;
    color: #1D321E;
    font-weight: bold;
    font-size: 2.2em;
    padding-bottom: 10%;
}

#firstProductDetailComponent p{
    font-size: 1.2em;
    width: 70%;
    color: #7A896E;
    padding-bottom: 4%;
}

#firstProductDetailComponent  #star-rating{
    width: 40%;
    padding-left: 0%;
    margin-left: 1%;
    padding-bottom: 1%;
}

#firstProductDetailComponent #star-rating img{
    height: 100%; 
}

#firstProductDetailComponent #star-rating #reviewsScroll{
    padding-left: 2%;
    margin-bottom: 0%;
    padding-top: 2%;
    
}

#firstProductDetailComponent h6{
    color: rgba(151, 74, 22, 0.7);
    padding-left: 6%;
    padding-bottom: 3%;
}

#firstProductDetailComponent h5{
    color: rgba(29, 50, 30, 0.8);
    padding-left: 10%;
    font-size: 1.8em;
    padding-bottom: 4%;

}

#firstProductDetailComponent .productNumber{
    background: rgba(122, 137, 110, 0.3);
    color: #1D321E;
    width:50%;
    font-size: 1.7em;
    display: inline;
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 1%;

}

#firstProductDetailComponent hr{
    width: 100%;
    border-color: #1d321e7e;
}

#firstProductDetailComponent #addToCart {
    background: #974A16;
    border-radius: 40px;
    font-size: 1.1em;
    line-height: 2.1em;
    color: #EAE4C8;
    width: 25%;
    margin-left:10% ;
}

#firstProductDetailComponent .pagination button{
    border: none;
}

#firstProductDetailComponent .pagination  button:focus {outline:0;}

#firstProductDetailComponent .imageContent{
    display: none;
}

#secondProductDetailComponent .tablink {
    color: #1D321E;
    float: left;
    border-top: 0.5px solid #00000073;
    border-bottom: none;
    border-left: none;
    border-right: none ;
    outline: none;
    cursor: pointer;
    padding: 1% 2%;
    font-size: 1.3em;
    width: 25%;
    font-weight: bold;
  }
  
  #secondProductDetailComponent .tablink:hover {
    background-color: rgba(92, 100, 86, 0.01);
  }
  
  #secondProductDetailComponent  .tabcontent {
    display: none;
    padding: 8% 4%;
    height: 100%;
    background-color: rgba(122, 137, 110, 0.3);
  }
  
  #secondProductDetailComponent  .tabcontent h3{
    color: #974A16;
    background-color: rgba(122, 137, 110, 0);
    padding-bottom: 1%;
    font-weight: bold;
  }

  #secondProductDetailComponent  .tabcontent p{
    color: #1D321E;
    background-color: rgba(122, 137, 110, 0);
    font-size: 1.2em;
    width: 80%;
  }

  #secondProductDetailComponent  .tabcontent li{
    color: #1D321E;
    background-color: rgba(122, 137, 110, 0);
    font-size: 1.2em;
    line-height: 2em;
  }

#thirdProductDetailComponent h2{
      font-size: 2em;
      color: #1D321E;
      padding-bottom: 2%;
      font-weight: bold;
  } 
#thirdProductDetailComponent label{
    color: rgba(29, 50, 30, 0.8);
    font-size: 1.4em;
    display: inline;
    padding-right: 3%;
}

#thirdProductDetailComponent input[type=text], select, textarea {
    width: 30%; 
    border: none;
    padding: 1%; 
    border-radius: 10px; 
    box-sizing: border-box; 
    margin-top: 1%; 
    margin-bottom: 2%; 
    background: rgba(151, 74, 22, 0.15);
    resize: vertical; 
    text-align: center;
    display: inline;
    
  }
  
#thirdProductDetailComponent  input[type=submit] {
    width: 14%;
    background-color: #1D321E;
    color: #EAE4C8;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
  }
  
 
#thirdProductDetailComponent input[type=submit]:hover {
    background-color: #041d05;
  }


#secondProductDetailComponent #reviewName{
    color: rgba(29, 50, 30, 0.8);
    padding-left: 1%;
    font-size: 1.4em;
    font-weight: lighter;
    padding-bottom: 0%;
    display: block;
}

#productDetail-content  #star-rating2{
    width: 10%;
    background-color: rgba(122, 137, 110, 0);
}

#productDetail-content #star-rating2 .col{
    padding:0%;
    background-color: rgba(122, 137, 110, 0);
}

#secondProductDetailComponent #star-rating2 img{
    display: inline;
    width:90%; 
    height: 90%; 
    background-color: rgba(122, 137, 110, 0);
}

#secondProductDetailComponent #reviewText{
    padding-left: 1%;
    font-size: 1.4em;
    color: #1D321E;
    padding-top: 2%;
}

#secondProductDetailComponent .pagination button {
    color: black;
    padding: 1% 1.5%;
    text-decoration: none;
    transition: background-color .3s;
    font-size: 1.3em;
    border: none;
    background-color: rgba(122, 137, 110, 0);
  }

#secondProductDetailComponent  .pagination button.active {
    font-weight: bold;
    text-decoration: underline;
    border: none;
    
  }

#secondProductDetailComponent  .pagination  button:focus {outline:0;}

#secondProductDetailComponent .numbercontent{
    display: none;
    background-color: rgba(122, 137, 110, 0);
}
  
#secondProductDetailComponent  .pagination button:hover:not(.active) {background-color: rgba(83, 80, 80, 0.479);}

#shopSkinCategories-content h2{
    font-weight: bold;
    font-size: 2.4em;
    color: #1D321E;
    padding-left: 5%;
    padding-bottom: 1%;
}

#shopSkinCategories-content p{
    font-size: 1.2em;
    text-align: justify;
    color: #7A896E;
    padding-left: 5%;
    width: 70%;
}

#shopSkinCategories-content img{
    border-radius: 20px;
    position: relative;
}

#shopSkinCategories-content .categoryName{
    position: absolute;
    width: 76.8%;
    background: rgba(122, 137, 110, 0.8);
    border-radius: 10px 10px 20px 20px;
    left:11.6%;
    bottom: 0%;
    text-align: center;
    color: #EAE4C8;
    font-size: 2em;
    line-height: 2em;
}

#checkout-content h1{
    font-weight: bold;
    color: #1D321E;
    padding-bottom: 5%;
}

#checkout-content span{
    color: #974A16;
    font-size: 1.6em;
    font-weight: bold;
}

#checkout-content img{
    width: 30%; 
    height: 90%; 
    float: left;
    border: 0.5px solid #000000a1;
    box-sizing: border-box;
    border-radius: 40%;
    display: inline;
    margin-right: 5%;
  
}

#checkout-content h5{
    color: #1D321E;
    font-size: 1.6em;

    
}

#checkout-content .productNumber{
    background: rgba(122, 137, 110, 0.3);
    color: #1D321E;
    width:50%;
    font-size: 1.5em;
    display: inline;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

}
#checkout-content a{
    display: block;
    color: #00000091;
    width:40%;
    text-decoration: underline;
    padding-top: 4%;
}

#checkout-content h6{
    padding-right: 9%;
    font-size: 1.2em;
    color: rgba(29, 50, 30, 0.6);
}

#checkout-content button{
    background: #1D321E;
    border-radius: 20px;
    margin: auto;
    width: 20%;
    display: flex;
    color: #EAE4C8;
    justify-content: center;
    font-size: 1.8em;
    margin-top: 2%;
    line-height: 2em;

}

#orderConfirmation-content h2{
    padding-bottom: 5%;
    color: #1D321E;
    font-weight: bold;
    font-size: 2.4em;

}

#orderConfirmation-content label{
    color: rgba(29, 50, 30, 0.8);
    font-size: 1.2em;
    
}

#orderConfirmation-content input[type=text], select, textarea {
    width: 50%; 
    border: none;
    padding: 1%; 
    border-radius: 5px; 
    box-sizing: border-box; 
    margin-top: 1.5%; 
    margin-bottom: 6%; 
    background: rgba(151, 74, 22, 0.15);
    resize: vertical; 
    text-align: center;
    
  }
  

#orderConfirmation-content span{
    color: rgba(151, 74, 22, 0.7);
    font-size: 1.2em;
    font-weight: bold;
}


#orderConfirmation-content h5{
    color: #1D321E;
    font-size: 1.2em;
}

#orderConfirmation-content button{
    background: #1D321E;
    border-radius: 10px;
    width: 45%;
    display: flex;
    justify-content: center;
    margin: auto;
    color: #EAE4C8;
    font-size: 1.5em;
    line-height: 2em;
    margin-top: 3%;
}

#dentalTreatment-content .h3Font{
    text-align: center;
    color: #974A16;
    padding-top: 5%;
    font-size: 2.4em;
    line-height: 1.8em;
    background-color: rgba(122, 137, 110, 0);
    font-weight: bold;
}


.secondTreatmentComponent h5{
    text-align: center;   
    color: #974A16;
    background-color: rgba(122, 137, 110, 0);
    padding-top: 1%;
    font-size: 1.8em;
    padding-bottom: 6%;
}

.secondTreatmentComponent h6{
    padding-top: 10%;
    background-color: rgba(122, 137, 110, 0);
    font-weight: bold;
    font-size: 1.8em;
    color: #1D321E;
    text-align: center;
    width: 50%;
    margin: auto;
}

.thirdTreatmentComponent h5{ 
    color: rgba(151, 74, 22, 0.8);
    padding-top: 1%;
    font-size: 1.8em;
    padding-left: 6%;
    padding-top: 10%;
    text-align: left;
}

.thirdTreatmentComponent hr{
    margin-top: 2%;
    margin-bottom: 6%;
}

.thirdTreatmentComponent span{
    color: #1D321E;
    font-size: 1.6em;
}

.thirdTreatmentComponent h1{
    font-size: 4.2em;
    color: #7A896E;
    font-weight: bold;
    padding-top: 4%;
    padding-bottom: 2%;
}

.thirdTreatmentComponent h6{
    width: 40%;
    color: #1D321E;
    font-size: 1.2em;
    margin: auto;
}

.sixthTreatmentComponent  hr{
    width: 90%;
    height: 0px;
    border: 0.2px solid rgba(0, 0, 0, 0.363);  
    margin-top: 4%;
    margin-left: 5%;
    margin-bottom: 3%;
}

.sixthTreatmentComponent  h5{
    color: #1D321E;
    font-weight: bold;
    font-size: 1.6em;
    padding-left: 6%;
    padding-bottom: 3%;
    background-color: rgba(122, 137, 110, 0);
}

.sixthTreatmentComponent  p{
    color: #1D321E;
    font-weight: 300;
    font-size: 1.4em;
    padding-left: 6%;
    text-align: justify;
    width: 80%;
    background-color: rgba(122, 137, 110, 0);
}


.sixthTreatmentComponent h4{
    background-color: rgba(122, 137, 110, 0);
    padding: 4%;
    padding-bottom: 0%;
    font-size: 2em;
    font-weight: bold;
    color: #1D321E;
}

.sixthTreatmentComponent h6{
    color: #7A896E;
    padding-left: 6%;
    padding-bottom: 3%;
    background-color: rgba(122, 137, 110, 0);
}

.eighthTreatmentComponent h2{
    margin: auto;
    text-align: center;
    color: #1D321E;
    font-weight: bold;
    width: 50%;
    font-size: 2.2em;
    padding-bottom: 4%;
}

.eighthTreatmentComponent h4{
    text-align: left;
    font-size: 2em;
    font-weight: normal;
    color: #974A16;
    background-color: rgba(122, 137, 110, 0);
    padding-top: 4%;
    width: 70%;
}

.eighthTreatmentComponent hr{
    width: 90%;
    height: 0px;
    border: 0.2px solid rgba(0, 0, 0, 0.438);  
    margin-top: 5%;;
    margin-bottom: 3%;
    margin-left: 0%;
    background-color: rgba(122, 137, 110, 0);
}

.eighthTreatmentComponent h5{
    color: #1D321E;
    font-size: 1.6em;
    padding-bottom: 2%;
    background-color: rgba(122, 137, 110, 0);
}

.eighthTreatmentComponent p{
    color: rgba(29, 50, 30, 0.89);
    font-size: 1.2em;
    font-weight: lighter;
    line-height: 1.4em;
    width: 85%;
    background-color: rgba(122, 137, 110, 0);

}

.eighthTreatmentComponent span{
    position: absolute;
    color: #1D321E;
    font-size: 1.6em;
    top: 65%;
    background-color: rgba(122, 137, 110, 0);
}

.ninthTreatmentComponent div{
    background: rgba(122, 137, 110, 0.4);
    line-height: 2em;
    font-size: 1.2em;
    color: #1D321E;
    margin: auto;
}

.tenthTreatmentComponent h2{
    background: rgba(122, 137, 110, 0);
    text-align: center;
    color: #1D321E;
    font-size: 2.2em;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 3%;
}

#dentalTreatment-content .tenthTreatmentComponent .tab{
    background: rgba(122, 137, 110, 0);
    padding-left: 0%;
    margin: auto;
    width: 50%;
}
#dentalTreatment-content  .tenthTreatmentComponent  .tab button{
    width: 25%;
    background: rgba(122, 137, 110, 0);
}
#dentalTreatment-content  .tenthTreatmentComponent .tabcontent2{
    display: none;
}

.eleventhTreatmentComponent h2{
    margin: auto;
    text-align: center;
    color: #1D321E;
    font-weight: bold;
    width: 50%;
    font-size: 2.2em;
    padding-bottom: 4%;
}

.eleventhTreatmentComponent button{
    margin: auto;
    width: 15%;
    background: #1D321E;
    border-radius: 25px;  
    line-height: 2em;  
    text-align: center;
    color: #EAE4C8;
    font-size: 1.4em;
    margin-bottom: 4%;
}

.thirteenthTreatmentComponent h4{
    background: rgba(151, 74, 22, 0);
    margin: auto;
    color: #1D321E;
    padding-top: 5%;
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 5%;
}

.thirteenthTreatmentComponent h5{
    background: rgba(151, 74, 22, 0);
    color: #1D321E;
    font-size: 1.4em;
    text-align: left;
    padding-bottom: 1%;
    padding-left: 5%;
}

.thirteenthTreatmentComponent p{
    background: rgba(151, 74, 22, 0);
    color: #1D321E;
    font-weight: lighter;
    font-size: 0.9em;
    text-align: left;
    padding-bottom: 2%;
    width: 90%;
    padding-left: 5%;
}

#dentalTreatment-content #faq-content .accordion{
    width: 85%;
    
}

#dentalTreatment-content #faq-content .panel{
    width: 85%;
    margin: auto;
    
}